{% extends 'base.html' %}

{% block content %}
    <h2>Список пісень:</h2>
    <div class="row">
        {% for song in songs %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ song.image_url }}" class="card-img-top" alt="{{ song.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ song.title }}</h5>
                        <p class="card-text">Артист: {{ song.artist }}</p>
                        <p class="card-text">Жанр: {{ song.genre }}</p>
                        <a href="{% url 'songs:song_detail' song.id %}" class="btn btn-primary">Детальніше</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
