{% extends 'base.html' %}

{% block content %}
    <h1>Плейлист {{ playlist.name }}</h1>
    <p>Категорія: {{ playlist.category }}</p>
    <hr>
    <h3>Пісні в плейлисті:</h3>
    <ul>
        {% for song in songs %}
            <li>
                <h5>{{ song.title }}</h5>
                <p>Артист: {{ song.artist }}</p>
                <p>Альбом: {{ song.album }}</p>
                <p>Жанр: {{ song.genre }}</p>
                <a href="{% url 'songs:song_detail' song.id %}" class="btn btn-primary btn-rounded">Переглянути</a>
                <a href="{% url 'songs:remove_song_from_playlist' playlist.id song.id %}" class="btn btn-danger btn-rounded">Видалити</a>
            </li>
            <hr>
        {% endfor %}
    </ul>
{% endblock %}
