{% extends 'base.html' %}

{% block content %}
    <h1>Мої плейлисти</h1>
    <div class="row">
        {% for playlist in playlists %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ playlist.name }}</h5>
                        <p class="card-text">Категорія: {{ playlist.category }}</p>
                        <a href="{% url 'songs:playlist_detail' playlist.id %}" class="btn btn-primary">Переглянути</a>
                        <a href="{% url 'songs:remove_playlist' playlist.id %}" class="btn btn-danger mt-2">Видалити</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
